/*
 This is a dirty fix for https://github.com/jhildenbiddle/docsify-themeable/issues/66
 This allows to display the drop-down arrow on arbitrary <a> elements of the sidebar navigation
 by applying  the 'force-pagelink' class to said elements.

 This is adapted from https://github.com/jhildenbiddle/docsify-themeable/blob/7008137b8079bc267e66e653dedb18d8e417f605/src/scss/app/_sidebar.scss#L198-L315

 Pre-compilation (modified) SCSS source:
 */

/*
.sidebar-nav {
    li {
        > a,
        > strong {
            &:before {
                display: inline-block;
            }
        }


        > a {
            background-repeat: var(--sidebar-nav-pagelink-background-repeat);
            background-size: var(--sidebar-nav-pagelink-background-size);


            // Forced page links
            &.force-pagelink {
                transition: var(--sidebar-nav-pagelink-transition);


                &,
                ~ ul a {
                    padding: var(--sidebar-nav-pagelink-padding, var(--sidebar-nav-link-padding));
                }


                // Not loaded (w/o subnav)
                &:only-child {
                    background-image: var(--sidebar-nav-pagelink-background-image);
                    background-position: var(--sidebar-nav-pagelink-background-position);
                }


                // Loaded (w/ subnav)
                &:not(:only-child) {
                    background-image: var(--sidebar-nav-pagelink-background-image--loaded, var(--sidebar-nav-pagelink-background-image));
                    background-position: var(--sidebar-nav-pagelink-background-position--loaded, var(--sidebar-nav-pagelink-background-image));
                }
            }
        }


        &.active,
        &.collapse {
            > a {
                border-width: var(--sidebar-nav-link-border-width--active, var(--sidebar-nav-link-border-width));
                border-style: var(--sidebar-nav-link-border-style--active, var(--sidebar-nav-link-border-style));
                border-color: var(--sidebar-nav-link-border-color--active, var(--sidebar-nav-link-border-color));
                background-color: var(--sidebar-nav-link-background-color--active, var(--sidebar-nav-link-background-color));
                background-image: var(--sidebar-nav-link-background-image--active, var(--sidebar-nav-link-background-image));
                background-position: var(--sidebar-nav-link-background-position--active, var(--sidebar-nav-link-background-position));
                background-size: var(--sidebar-nav-link-background-size--active, var(--sidebar-nav-link-background-size));
                color: var(--sidebar-nav-link-color--active, var(--sidebar-nav-link-color));
                font-weight: var(--sidebar-nav-link-font-weight--active, var(--sidebar-nav-link-font-weight));
                text-decoration: var(--sidebar-nav-link-text-decoration--active, var(--sidebar-nav-link-text-decoration));
                text-decoration-color: var(--sidebar-nav-link-text-decoration-color);
            }
        }


        &.active {
            > a {
                // Page links
                &.force-pagelink {
                    // Loaded (w/ subnav)
                    &:not(:only-child) {
                        background-image: var(--sidebar-nav-pagelink-background-image--active, var(--sidebar-nav-pagelink-background-image--loaded, var(--sidebar-nav-pagelink-background-image)));
                        background-position: var(--sidebar-nav-pagelink-background-position--active, var(--sidebar-nav-pagelink-background-position--loaded, var(--sidebar-nav-pagelink-background-image)));
                    }
                }
            }
        }


        &.collapse {
            > a {
                // Page links
                &.force-pagelink {
                    // Loaded (w/ subnav)
                    &:not(:only-child) {
                        background-image: var(--sidebar-nav-pagelink-background-image--collapse, var(--sidebar-nav-pagelink-background-image--loaded, var(--sidebar-nav-pagelink-background-image)));
                        background-position: var(--sidebar-nav-pagelink-background-position--collapse, var(--sidebar-nav-pagelink-background-position--loaded, var(--sidebar-nav-pagelink-background-image)));
                    }
                }
            }


            .app-sub-sidebar {
                display: none;
            }
        }
    }
}
*/

.sidebar-nav li > a:before,
.sidebar-nav li > strong:before {
    display: inline-block;
}

.sidebar-nav li > a {
    background-repeat: var(--sidebar-nav-pagelink-background-repeat);
    background-size: var(--sidebar-nav-pagelink-background-size);
}

.sidebar-nav li > a.force-pagelink {
    transition: var(--sidebar-nav-pagelink-transition);
}

.sidebar-nav li > a.force-pagelink,
.sidebar-nav li > a.force-pagelink ~ ul a {
    padding: var(--sidebar-nav-pagelink-padding, var(--sidebar-nav-link-padding));
}

.sidebar-nav li > a.force-pagelink:only-child {
    background-image: var(--sidebar-nav-pagelink-background-image);
    background-position: var(--sidebar-nav-pagelink-background-position);
}

.sidebar-nav li > a.force-pagelink:not(:only-child) {
    background-image: var(--sidebar-nav-pagelink-background-image--loaded, var(--sidebar-nav-pagelink-background-image));
    background-position: var(--sidebar-nav-pagelink-background-position--loaded, var(--sidebar-nav-pagelink-background-image));
}

.sidebar-nav li.active > a, .sidebar-nav li.collapse > a {
    border-width: var(--sidebar-nav-link-border-width--active, var(--sidebar-nav-link-border-width));
    border-style: var(--sidebar-nav-link-border-style--active, var(--sidebar-nav-link-border-style));
    border-color: var(--sidebar-nav-link-border-color--active, var(--sidebar-nav-link-border-color));
    background-color: var(--sidebar-nav-link-background-color--active, var(--sidebar-nav-link-background-color));
    background-image: var(--sidebar-nav-link-background-image--active, var(--sidebar-nav-link-background-image));
    background-position: var(--sidebar-nav-link-background-position--active, var(--sidebar-nav-link-background-position));
    background-size: var(--sidebar-nav-link-background-size--active, var(--sidebar-nav-link-background-size));
    color: var(--sidebar-nav-link-color--active, var(--sidebar-nav-link-color));
    font-weight: var(--sidebar-nav-link-font-weight--active, var(--sidebar-nav-link-font-weight));
    text-decoration: var(--sidebar-nav-link-text-decoration--active, var(--sidebar-nav-link-text-decoration));
    text-decoration-color: var(--sidebar-nav-link-text-decoration-color);
}

.sidebar-nav li.active > a.force-pagelink:not(:only-child) {
    background-image: var(--sidebar-nav-pagelink-background-image--active, var(--sidebar-nav-pagelink-background-image--loaded, var(--sidebar-nav-pagelink-background-image)));
    background-position: var(--sidebar-nav-pagelink-background-position--active, var(--sidebar-nav-pagelink-background-position--loaded, var(--sidebar-nav-pagelink-background-image)));
}

.sidebar-nav li.collapse > a.force-pagelink:not(:only-child) {
    background-image: var(--sidebar-nav-pagelink-background-image--collapse, var(--sidebar-nav-pagelink-background-image--loaded, var(--sidebar-nav-pagelink-background-image)));
    background-position: var(--sidebar-nav-pagelink-background-position--collapse, var(--sidebar-nav-pagelink-background-position--loaded, var(--sidebar-nav-pagelink-background-image)));
}

.sidebar-nav li.collapse .app-sub-sidebar {
    display: none;
}

.sidebar-nav > ul > li > a:before {
    content: var(--sidebar-nav-link-before-content-l1, var(--sidebar-nav-link-before-content));
    margin: var(--sidebar-nav-link-before-margin-l1, var(--sidebar-nav-link-before-margin));
    color: var(--sidebar-nav-link-before-color-l1, var(--sidebar-nav-link-before-color));
}

.sidebar-nav > ul > li.active > a:before {
    content: var(--sidebar-nav-link-before-content-l1--active, var(--sidebar-nav-link-before-content--active, var(--sidebar-nav-link-before-content-l1, var(--sidebar-nav-link-before-content))));
    color: var(--sidebar-nav-link-before-color-l1--active, var(--sidebar-nav-link-before-color--active, var(--sidebar-nav-link-before-color-l1, var(--sidebar-nav-link-before-color))));
}

.sidebar-nav > ul > li > ul > li > a:before {
    content: var(--sidebar-nav-link-before-content-l2, var(--sidebar-nav-link-before-content));
    margin: var(--sidebar-nav-link-before-margin-l2, var(--sidebar-nav-link-before-margin));
    color: var(--sidebar-nav-link-before-color-l2, var(--sidebar-nav-link-before-color));
}

.sidebar-nav > ul > li > ul > li.active > a:before {
    content: var(--sidebar-nav-link-before-content-l2--active, var(--sidebar-nav-link-before-content--active, var(--sidebar-nav-link-before-content-l2, var(--sidebar-nav-link-before-content))));
    color: var(--sidebar-nav-link-before-color-l2--active, var(--sidebar-nav-link-before-color--active, var(--sidebar-nav-link-before-color-l2, var(--sidebar-nav-link-before-color))));
}

.sidebar-nav > ul > li > ul > li > ul > li > a:before {
    content: var(--sidebar-nav-link-before-content-l3, var(--sidebar-nav-link-before-content));
    margin: var(--sidebar-nav-link-before-margin-l3, var(--sidebar-nav-link-before-margin));
    color: var(--sidebar-nav-link-before-color-l3, var(--sidebar-nav-link-before-color));
}

.sidebar-nav > ul > li > ul > li > ul > li.active > a:before {
    content: var(--sidebar-nav-link-before-content-l3--active, var(--sidebar-nav-link-before-content--active, var(--sidebar-nav-link-before-content-l3, var(--sidebar-nav-link-before-content))));
    color: var(--sidebar-nav-link-before-color-l3--active, var(--sidebar-nav-link-before-color--active, var(--sidebar-nav-link-before-color-l3, var(--sidebar-nav-link-before-color))));
}

.sidebar-nav > ul > li > ul > li > ul > li > ul > li > a:before {
    content: var(--sidebar-nav-link-before-content-l4, var(--sidebar-nav-link-before-content));
    margin: var(--sidebar-nav-link-before-margin-l4, var(--sidebar-nav-link-before-margin));
    color: var(--sidebar-nav-link-before-color-l4, var(--sidebar-nav-link-before-color));
}

.sidebar-nav > ul > li > ul > li > ul > li > ul > li.active > a:before {
    content: var(--sidebar-nav-link-before-content-l4--active, var(--sidebar-nav-link-before-content--active, var(--sidebar-nav-link-before-content-l4, var(--sidebar-nav-link-before-content))));
    color: var(--sidebar-nav-link-before-color-l4--active, var(--sidebar-nav-link-before-color--active, var(--sidebar-nav-link-before-color-l4, var(--sidebar-nav-link-before-color))));
}

.sidebar-nav > :last-child {
    margin-bottom: 2rem;
}
